<ion-header>
  <ion-row class="barra"><h3>ʀᴇɢɪꜱᴛʀᴀᴘᴘ</h3></ion-row>
</ion-header>
<ion-content [fullscreen]="true" class="base">
 <ion-row class="ion-justify-content-center">
  <h1 class="lavel morado">bienvenido {{usuario}}</h1>
 </ion-row>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-button (click)="ini_camara()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-fab>
</ion-content>
<ion-footer>
  <ion-row class="barra abajo"></ion-row>
</ion-footer>

