.lavel{
    border: 1px solid black;
    border-radius: 7px;
    --padding-start: 15px; 
    background-color: #fff;
    &.morado{
        padding:20px 10px;
        border-radius: 45px;
        background-color: rgb(14,29,48);
        margin-top: 20%;
        margin-bottom: 55px;
        color:#FFB800;
    }
}
.boton{
     --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-start: 60px;
    --padding-end: 60px;
    --border-radius: 30px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 100px;
    
    
    &.rojo{
        --ion-color-primary:#FFB800;
        --background-activated:  #c7920d;
        --background-focused:  #c7920d;
        --background-hover:  #c7920d;
        --background-activated-opacity: 1;
        --background-focused-opacity: 1;
        --background-hover-opacity: 1;
    }
}
ion-item{
   --border-color:transparent; 
}
ion-label{
    padding-left: 15px;
    z-index: 4;
    font-size: 30px;
}
h1{
    font-size: 30px;
    padding-inline-end: 15px;
}
.base{
    --ion-background-color:rgb(225, 224, 221) ;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.barra{
    border: 1px solid rgb(14,29,48);
    background-color: #FFB800;
    margin: auto;
    &.abajo{
        padding-top: 50px;
    }
}
h3{
    margin-left: 10px;
}

.centro{
    text-align: center;
    margin-top: 10px;
}
a{
    color: rgb(14,29,48);
    text-decoration: none;
}