<ion-header>
  <ion-row class="barra"><h3>ʀᴇɢɪꜱᴛʀᴀᴘᴘ</h3></ion-row>
</ion-header>
<ion-content [fullscreen]="true" class="base">
 <ion-row class="ion-justify-content-center">
  <h1 class="lavel morado">Login</h1>
 </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size='9'> 
      <ion-item>
        <ion-label position="floating">correo o usuario</ion-label>
        <ion-input [(ngModel)]='correo' class="lavel"></ion-input>
      </ion-item>
    </ion-col>  
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size='9'>
      <ion-item>
          <ion-label position="floating">contraseña</ion-label>
          <ion-input type='password' [(ngModel)]='contrasena' class="lavel"></ion-input>
      </ion-item>
    </ion-col>  
  </ion-row>
  <ion-row class="centro" >
    <ion-col ><a routerLink='/recover'>¿Olvidaste tu contraseña?</a></ion-col>
  </ion-row>
  <ion-row>
    <ion-button class="boton rojo" (click)='validar()'>enviar</ion-button>
  </ion-row> 
</ion-content>
<ion-footer>
  <ion-row class="barra abajo"></ion-row>
</ion-footer>
