<app-header back="/login"></app-header>
<ion-content>
    <h1 class="titulo arriba">
      Restablecer contraseña
    </h1>
    <form>
    <h2 class="titulo">Correo electronico:</h2>
    <ion-input [(ngModel)]='correo'[ngModelOptions]="{standalone: true}" class="lavel"></ion-input>
    <ion-button type="submit" (click)="validar()" expand="block" class="colors">
      Restablecer contraseña
    </ion-button>
  </form>
  <!-- <p class="version"><ion-text color="medium">version: 0.0.1a</ion-text></p> -->
</ion-content>
